<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1></h1>
    <div class="newteacher">
      <form method="POST">
        <div>
          <div><span class="label">Title:</span>
            <inpu type="text" name="title" id="editTeacherTitle"></inpu>
          </div>
          <div><span class="label">Name:</span>
            <inpu type="text" name="name" id="editTeacherName"></inpu>
          </div>
          <div id="editTeacherSubmit">
            <input type="submit" value="Save">
          </div>
        </div>
      </form><a href="/">Back to Teacher List</a>
    </div>
  </body>
</html>